@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background: #222222;
}

.video-container {
    position: relative;
    width: 100%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 73vh;
    border-radius: 0 0 16px 16px;
}

h1, p {
    color: white;
    text-align: center;
}

.refresh-btn {
    font-size: 1.5rem;
    padding: 16px;
    margin: 16px;
    border-radius: 16px 16px 0 0;
    border: none;
    margin: auto;
    width: 100%;
    transition: 0.5s;
    &:hover, &:focus {
        transition: 0.5s;
        background: #444444;
        color: white;
        cursor: pointer;   
        outline: none; 
    }
}

#twitter-pic {
    width: 2em;
}

// Even more responsive.
// .video-container::after {
//     // padding-top: 56.25%; // 16:9 Video, 9 is 56.25% of 16
//     display: block;
//     content: '';
// }