body {
    background: #222222;
}

.video-container {
    position: relative;
    width: 100%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border-radius: 16px;
}

h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

// Even more responsive.
// .video-container::after {
//     // padding-top: 56.25%; // 16:9 Video, 9 is 56.25% of 16
//     display: block;
//     content: '';
// }